---
title: SPASE Data Model
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Data Model</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>

<p>
The SPASE Data Model consists of an exclusive set of resource types which can be used to describe
data along with its scientific context, source, provenance, content and location. It is designed to support 
a federated data system where data may reside at different locations and may be separated from the 
metadata which describes it.
</p>
<p>
While the data model is neutral on how to it may be expressed, the preferred expression form is XML.
There are <a href="schema/index.html">XML Schema</a> documents which can be used to generate and validate SPASE 
compliant XML documents.
</p>
<p>
	There are tutorials and other information available at the <a href="https://school.spase-group.org/">SPASE School</a>.
</p>
<h2 id="Base">SPASE Base Model</h2>
<p>
The Resource Types currently in the <a href="model/index.html">base data model</a> are:
</p>

{{#with baseModelVersions }}
	<p>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Annotation">Annotation</a></dt><dd>Explanatory or descriptive information that is associated with another resource.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Catalog">Catalog</a></dt><dd>Listing of events or observational notes.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Document">Document</a></dt><dd>Plain or formatted text that may include graphics, sound, other multimedia data, or hypermedia references.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_DisplayData">DisplayData</a></dt><dd>A graphical representation of data.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_NumericalData">NumericalData</a></dt><dd>Data product stored as numerical values in a specified format.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Granule">Granule</a></dt><dd>An accessible portion of another resource.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Instrument">Instrument</a></dt><dd>A device that is used to sense and parameterize a physical phenomenon.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Observatory">Observatory</a></dt><dd>The host (spacecraft, network, facility) for instruments making observations.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Person">Person</a></dt><dd>An individual human being.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Registry">Registry</a></dt><dd>A location or facility where resources are catalogued.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Repository">Repository</a></dt><dd>A location or facility where resources are stored.</dd>
	<dt><a target="_blank" href="./model/spase-{{current.version}}/spase-{{flattenDot current.version}}_xsd.html#https___spase-group.org_data_schema_Spase_Service">Service</a></dt><dd>A location or facility that can perform a well-defined task.</dd>
	</p>
{{/with}}

<p>
Each of these elements is broken down into sub-elements that provide sufficient detail for adequate description of data
sets. The Resource Types NumericalData, DisplayData and Catalog are the resources used to describe
Heliophysics data products. These data product descriptions reference the other resources which contain descriptions
of the observatories, instruments, people, etc. that created the data products.
</p>
<h2 id="Simulation">SPASE Simulation Extensions</h2>
<p>
The SPASE <a href="simulation/index.html">Simulation Extensions</a> were originally developed by the 
Integrated Medium for Planetary Exploration (IMPEx) project, 
a European Union (EU) Seventh Framework Programme sponsored project.
</p>
<p>
The Resource Types currently in the simulation extensions are:
</p>

{{#with simulationExtVersions}}
	<p>
	<dt><a target="_blank" href="./simulation/spase-sim-{{current.version}}/spase-sim-{{flattenDot current.version}}_xsd.htm#http___www.spase-group.org_data_schema_Spase_SimulationRun">SimulationRun</a></dt><dd>Description of a simulation run, including the code ID, the run spatial and temporal description, and all the relevant inputs.</dd>
	<dt><a target="_blank" href="./simulation/spase-sim-{{current.version}}/spase-sim-{{flattenDot current.version}}_xsd.htm#http___www.spase-group.org_data_schema_Spase_SimulationModel">SimulationModel</a></dt><dd>Descriptor of a simulation model: type of numerical scheme, versions,...</dd>
	<dt><a target="_blank" href="./simulation/spase-sim-{{current.version}}/spase-sim-{{flattenDot current.version}}_xsd.htm#http___www.spase-group.org_data_schema_Spase_NumericalOutput">NumericalOutput</a></dt><dd>Numerical data generated from a simulation run.</dd>
	<dt><a target="_blank" href="./simulation/spase-sim-{{current.version}}/spase-sim-{{flattenDot current.version}}_xsd.htm#http___www.spase-group.org_data_schema_Spase_DisplayOutput">DisplayOutput</a></dt><dd>A graphical representation of data generated from a simulation run.</dd>
	</p>
	<p>
	The simulation extensions also override the following classes in the base model:
	</p>
	<p>
	<dt><a target="_blank" href="./simulation/spase-sim-{{current.version}}/spase-sim-{{flattenDot current.version}}_xsd.htm#http___www.spase-group.org_data_schema_Spase_Granule">Granule</a></dt><dd>An accessible portion of another resource.</dd>
	<dt><a target="_blank" href="./simulation/spase-sim-{{current.version}}/spase-sim-{{flattenDot current.version}}_xsd.htm#http___www.spase-group.org_data_schema_Spase_Particle">Particle</a></dt><dd>A description of the types of particles observed in the measurement.</dd>
	</p>
{{/with}}

<p>
Each of these elements is broken down into sub-elements that provide sufficient detail for adequate description of 
simulation models and generated data sets. Data product descriptions reference the other resources which contain descriptions
of the observatories, instruments, people, etc. that created the data products. The resources are described using the
terms from the SPASE Simulation Extension Dictionary along with terms from the Base model.
</p>

</div> <!-- wysiwyg_content -->
</section> <!-- article_body -->
</article> <!-- page_body_article -->
</section> <!- page_body -->

</div> <!- primary-column -->

<div id='secondary_column'>
<aside class='desktop_sidenav' id='sidenav'>
	<div class='boxed'>
	   <h2>Data Model Documents</h2>
	   <p>
			<b><u>Base</u></b><br/>
			{{#with baseModelVersions}}
				<a href="model/index.html">Overview</a><br/>
				<a href="model/spase-{{current.version}}.pdf">Current Release</a> ({{current.version}})<br/>
				&nbsp;&nbsp;<font size=-1>updated: {{current.released}}</font><br/>
				{{#if draft}}
					<a href="model/spase-draft-{draft.version}}.pdf">Current Draft</a> ({{draft.version}})<br/>
					&nbsp;&nbsp;<font size=-1>updated: {{draft.released}}</font><br/>
				{{/if}}
			{{/with}}
			<a href="model/history.html">History of changes</a><br/>
			<a href="model/search/index.html" target="_blank">Search Base Model Dictionary</a><br/>
		</p>
	  <p>
			<b><u>Simulation Extensions</u></b><br/>
			{{#with simulationExtVersions}}
				<a href="simulation/index.html">Overview</a><br/>
				<a href="simulation/spase-sim-{{current.version}}.pdf">Current Release</a> ({{current.version}})<br/>
				&nbsp;&nbsp;<font size=-1>updated: {{current.released}}</font><br/>

				{{#if draft}}
					<a href="simulation/spase-sim-draft-{{draft.version}}">Current Draft</a> ({{draft.version}})<br/>
					&nbsp;&nbsp;<font size=-1>updated: {{draft.released}}</font><br/>
				{{/if}}
			{{/with}}
			
			<a href="simulation/history.html">History of changes</a><br/>
			<a href="simulation/search/index.html" target="_blank">Search Simulation Extensions Dictionary</a><br/>
		</p>
	</div>
</aside> <!-- desktop_sidenav -->

  
<aside class='desktop_sidenav' id='sidenav'>
	<div class='boxed'>
		<h2>Related Items</h2>
		<ul class='side_nav'>
			<li><a href="http://validate.spase-group.org/">Metadata Validator</a></li>
			<li><a href="{{assets}}/tools/editor/index.html">Metadata Editor</a></li>
			<li><a href="{{assets}}/tools/resource/index.html">Resource Tools</a></li>
			<li><a href="http://release.igpp.ucla.edu/igpp/docgen/">Document Generator <i class='fa fa-external-link'></i></a></li>
			<li><a href="https://github.com/hpde">Metadata Repository <i class='fa fa-external-link'></i></a></li>
		</ul>
	</div>
</aside>

</div> <!-- secondary_column -->   

<div class='clear'></div>
</div> <!-- site_body -->