---
title: SPASE Simulation Extensions
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Simulation Extensions</h1>
<div class='gradient_line_half'></div>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>

<p>The SPASE metadata model can be expressed in many forms. One of those forms is as an XML Schema.
	An XML Schema is a machine readable form (see <a href="../schema/index.html">schema</a>). Here you can find
	human readable documentation which includes standard model diagrams.
</p>

{{#with simulationExtVersions }}
	<p><b>Current Release</b> is
	<a target="_blank" href="./spase-sim-{{current.version}}/index.html">{{current.version}}</a> 
	(<a target="_blank" href="./spase-sim-{{current.version}}/index.html">HTML</a> 
	<a target="_blank" href="./spase-sim-{{current.version}}.pdf">PDF</a>
	<a target="_blank" href="../schema/spase-sim-{{current.version}}.xsd">XSD</a>),
	released: {{current.released}},
	<a href="history.html">History of changes</a>
	</p>
	<p><a href="search/index.html" target="_blank">Search</a> the model dictionary.</p>
  <p>When referencing the Simulation Extensions in publications use the DOI: <a href="https://doi.org/10.48322/TXCA-X050">https://doi.org/10.48322/TXCA-X050</a></p>

	{{#if draft.version}}
		<p><b>Draft version:</b><br>There is a draft version of the data model which
			includes definitions under consideration for the next production release.
		</p>
		<p>The <a target="_blank" href="./spase-sim-{{draft.version}}-draft/index.html">current draft</a> 
		(<a target="_blank" href="./spase-sim-{{draft.version}}-draft/index.html">HTML</a>
		<a target="_blank" href="./spase-sim-{{draft.version}}-draft.pdf">PDF</a>
		<a target="_blank" href="../schema/spase-sim-{{draft.version}}-draft.xsd">XSD</a>),
		version is {{draft.version}}, generated on: {{draft.released}}
		</p>
	{{else}}
		<p><b>Draft version:</b><br>There is no draft version of this model.</p>
	{{/if}}

	<p>
	   <b>Release Versions:</b><br>
		<table>
			<tr>
				<th bgcolor=#CCCCCC>Version</th><th bgcolor=#CCCCC>Released</th><th class="pad-left" bgcolor=#CCCCC>Format</th><th bgcolor=#CCCCC>URL</th>
			</tr>

			{{#each (sort release 'version' true) }}
				<tr>
				   <td><a target="_blank" href="./spase-sim-{{this.version}}/index.html">{{this.version}}</a></td>
				   <td nowrap>{{this.released}}</td>
				   <td class="pad-left" nowrap>
					 <a target="_blank" href="./spase-sim-{{this.version}}/index.html">HTML</a> 
					 <a target="_blank" href="./spase-sim-{{this.version}}.pdf">PDF</a>
					 <a target="_blank" href="../schema/spase-sim-{{this.version}}.xsd">XSD</a>
				   </td>
				   <td nowrap>&nbsp;&nbsp;<a target="_blank" href="https://spase-group.org/data/simulation/spase-sim-{{this.version}}/index.html">https://spase-group.org/data/simulation/spase-sim-{{this.version}}/index.html</a></a></td>
				</tr>
			{{/each}}
		</table>
	</p>
	
{{/with}}

</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>
<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
   <h2>Support</h2>
   <p>
      <a href="mailto:spase-support@groups.io">Email our experts</a> (spase-support@groups.io)<br/>
   </p>
   <h2>Need An Update?</h2>
   <ul class='side_nav'>
      <li><a href="https://github.com/spase-group/spase-sim-model/issues">Request a Change</a></li>
   </ul>
   </div>
   <div class='boxed'>
   <h2>Project Information</h2>
   <ul class='side_nav'>
      <li><a href="https://github.com/spase-group/spase-sim-model">Specification</a></li>
      <li><a href="https://github.com/spase-group/spase-sim-model/wiki">Wiki</a></li>
      <li><a href="https://github.com/spase-group/spase-sim-model/issues">Issues</a></li>
   </ul>
   </div>
   <div class='boxed'>
   <h2>Related Items</h2>
   <ul class='side_nav'>
      <li><a href="../schema/index.html#simulation">Simulation Extensions XML Schema</a></li>
      <li><a href="search/index.html" target="_blank">Search Simulation Extensions Dictionary</a></li>
      <li><a href="../model/index.html">Base Model Documentation</a></li>
      <li><a href="../schema/index.html#base">Base Model XML Schema</a></li>
      <li><a href="../model/search/index.html" target="_blank">Search Base Model Dictionary</a></li>
   </ul>
</div>
</aside>
</div>

<div class='clear'></div>
</div>