---
title: SPASE
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' >

<!-- MAIN CONTENT -->
<section class='wide_feature clearfix' id='main_feature'>
<article class='page_body_article'>
<div class='article_body'>

<ul class='articles item_list list_view'>

<li>
<div class='list_content center top_tight'>
<h3 class='list_title'>Announcements</h3>
<div>2020-10-15: Version 2.3.2 of the SPASE <a href="data">Base model</a> is released.</div>
</div>
</li>

<li>
<hr>
<div class='list_content'>
<div class='list_image'>
<a href="{{assets}}/data/index.html" target='_self'>
<img alt="Data Model" src='{{assets}}/assets/images/spase-2_2_8_xsd_Element_spase_Spase.jpeg'>
</a>
</div>
<div class='list_text'>
<h3 class='list_title'><a href="data/index.html" target='_self'>Data Model</a></h3>
<div class='list_description'>
Get details of the SPASE <a href="data/model/index.html">Data Model</a>, which provides terms and syntax for uniform descriptions of Heliophysics resources, 
including Observatories, Instruments, People, Repositories, and (most centrally)  Numerical Data products, An extended set of terms deals 
with <a href="data/simulation/index.html">simulations and models</a>.  A Dictionary of the terms is provided, along with 
the <a href="data/schema/index.html">XML schema</a> documents used to validate SPASE descriptions. </div>
</div>
</div>
</li>

<li>
<hr>
<div class='list_content'>
<div class='list_image'>
<a href='{{assets}}/docs/index.html' target='_self'>
<img alt='Documents' src='{{assets}}/assets/images/folders.png'>
</a>
</div>
<div class='list_text'>
<h3 class='list_title'><a href='{{assets}}/docs/index.html' target='_self'>Documents</a></h3>
<div class='list_description'>
Specifications for <a target="_blank" href="{{assets}}/docs/conventions/HDMC-Event-List-Specification-v1.0.3.pdf">event lists</a> (and catalogues) and 
endorsed <a target="_blank" href="docs/conventions/index.html">conventions</a> for <a target="_blank" href="docs/conventions/Text-Normalization-and-Mark-up-v1.pdf">text markup</a>, 
<a target="_blank" href="docs/conventions/Resource-ID-Formation-Rule-v4.pdf">resource ID formation</a>, and guidelines with dealing 
with <a target="_blank" href="docs/conventions/SPASE-Parameter-Key-Formation-Plain-Text-Data-v1.pdf">plain text data</a> within SPASE descriptions.
</div>
</div>
</div>
</li>

<li>
<hr>
<div class='list_content'>
<div class='list_image'>
<a href='{{assets}}/tools/index.html' target='_self'>
<img alt='Tools' src='{{assets}}/assets/images/tools.png'>
</a>
</div>
<div class='list_text'>
<h3 class='list_title'><a href='{{assets}}/tools/index.html' target='_self'>Tools</a></h3>
<div class='list_description'>
Reference implementations and <a href="{{assets}}/tools/resource/">tools</a> for working with SPASE metadata and the SPASE framework. 
You can <a href="https://validator.spase-group.org/">validate</a> SPASE product descriptions, <a href="{{assets}}/tools/editor/index.html">make and edit</a> 
new SPASE resource description, and explore the SPASE <a href="services/index.html">registries</a>. 
</div>
</div>
</div>
</li>

<li>
<hr>
<div class='list_content'>
<div class='list_image'>
<a href='https://school.spase-group.org/' target='_self'>
<img alt='SPASE School' src='{{assets}}/assets/images/school.png'>
</a>
</div>
<div class='list_text'>
<h3 class='list_title'><a href='https://school.spase-group.org/' target='_self'>School</a></h3>
<div class='list_description'>
The SPASE <a target="_blank" href="https://school.spase-group.org/">School</a> has tutorials that are designed to provide both introductory and in-depth information 
for the generation and use of resource descriptions based on the SPASE Metadata Model. The tutorials also provide information on a set of services and protocols 
which can be used to share information and data, as well as construct Virtual Observatories which can integrate with similar systems at a local and international level.
</div>
</div>
</div>
</li>

<li>
<hr>
<div class='list_content'>
<div class='list_image'>
<a href='{{assets}}/services/index.html' target='_self'>
<img alt='Services' src='{{assets}}/assets/images/services.jpg'>
</a>
</div>
<div class='list_text'>
<h3 class='list_title'><a href='{{assets}}/services' target='_self'>Services</a></h3>
<div class='list_description'>
SPASE provides a few community wide services which includes maintaining the list of <a href="{{assets}}/services/naming-authority.html">naming authorities</a> 
and administers the <a target="_blank" href="https://github.com/hpde/SMWG">metadata repository</a> containing descriptions of common entities 
(Observatory, Instrument, Person, Service, Repository). SPASE also administers the metadata repositories available 
on <a target="_blank" href="https://github.com/hpde/">Github</a> which can be viewed at the <a href="https://hpde.io">HPDE</a> landing pages.</div>
</div>
</div>
</li>

</ul>
</article>

</section>

</div>

</div>

<div class='clear'></div>
</div>
<!-- Footer is attached by web server -->

