---
title: SPASE Inside
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>SPASE Inside</h1>
<div class='gradient_line_half'></div>
	<p>
	Systems that use SPASE compliant metadata to enable search
	services, data discovery or SPASE registry services can display
	the SPASE Inside logo:
	
	<a href="{{assets}}/assets/images/spase-inside.png"><img src="{{assets}}/assets/images/spase-inside.png"></a>
	</p>
	<p>
	Are you using SPASE? <a href="mailto:reine.a.chimiak@nasa.gov">Let us know</a>
	</p>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>

<h3>Current systems that use SPASE Inside.</h3>

<ul class='articles item_list list_view'>

<li>
	<hr>
	<div class='list_content'>
		<div class='list_text'>
			<h3  class='list_title'>United States: NASA's Heliophysics division</h3>
			<div class='list_description indent'>

			   <div class="topic">HPDE Repository (<a href="https://github.com/hpde/">https://github.com/hpde/</a>)</div>
			   <div class="indent">
				  Provides comprehensive access to all registered metadata in NASA's 
				  Heliophysics Division.
			   </div>

			   <div class="topic top_space">HPDE Landing Page (<a href="https://hpde.io/">https://hpde.io/</a>)</div>
			   <div class="indent">
				  Formatted information about each registered resource in the HPDE repositories.
			   </div> 

			   <div class="topic top_space">Heliophysics Data Portal (<a href="http://heliophysicsdata.gsfc.nasa.gov/">http://heliophysicsdata.gsfc.nasa.gov/</a>)</div>
			   <div class="indent">
				  Provides a quick and easy way to find and access a comprehensive set of NASA and other datasets, images, 
				  movies, and associated services.
			   </div>

			   <div class="topic top_space">Virtual Wave Observatory (VWO) (<a href="https://vwo.nasa.gov/">https://vwo.nasa.gov/</a>)</div>
			   <div class="indent">
				  The VWO enables sharing of Heliophysics wave data and expert knowledge by making Heliophysics wave data searchable, understandable and usable by the scientific community.
			   </div>
			   
			   <div class="topic top_space">NSSDC SPASE Query (<a href="https://nssdc.gsfc.nasa.gov/spase/">https://nssdc.gsfc.nasa.gov/spase/</a>)</div>
			   <div class="indent">
				  Search for select Person, Observatory and Instrument descriptions.
			   </div>
		   </div>
		</div>
	</div>
</li>

<li>
	<hr>
	<div class='list_content'>
		<div class='list_text'>
			<h3  class='list_title'>Europe</h3>
			<div class='list_description indent'>

			   <div class="topic">Centre de Donnee de la Physique des Plasmas (CDPP) (<a href="http://www.cdpp.eu/">http://www.cdpp.eu/</a>)</div>
			   <div class="indent">
				   <div class="topic top_space">Automated Multi-Dataset Analysis (AMDA) (<a href="http://amda.cdpp.eu/">http://amda.cdpp.eu/</a>)</div>
				   <div class="indent">
					  Provide integrated analysis of multi-point and multi-instrument data 
					  for case studies and statistical studies of plasmas in space physics.
				   </div>
			   </div>
			   
			   <div class="topic top_space">German Research Centre for Geosciences (<a href="http://www.gfz-potsdam.de/portal/gfz/home">http://www.gfz-potsdam.de/portal/gfz/home</a>)</div>
			   <div class="indent">
				   <div class="topic top_space">Information System and Data Center for geoscientific data (<a href="http://isdc.gfz-potsdam.de/">http://isdc.gfz-potsdam.de/</a>)</div>
				   <div class="indent">
					  An access point for all manner of geoscientific geodata, its corresponding metadata, scientific 
					  documentation and software tools. The majority of the data and information, the portal currently 
					  offers to the public, are global geomonitoring products such as satellite orbit and Earth gravity 
					  field data as well as geomagnetic and atmospheric data for the exploration.
				   </div>
				   <div class="indent">
					  Exploring Semantic web ontologies for use with reasoners and semantic searches.
				   </div>
			   </div>

			   <div class="topic top_space">EU Framework 7 Projects</div>
			   <div class="indent">
				   <div class="topic top_space">near-Earth space data infrastructure for e-Science (ESPAS) (<a href="https://www.espas-fp7.eu/portal/">https://www.espas-fp7.eu/portal/</a>)</div>
				   <div class="indent">
					  An e-Infrastructure to support access to observations, modeling and prediction of the 
					  near-Earth space environment extending from the Earth's atmosphere up to the outer radiation belts.
				   </div>

				   <div class="topic top_space">IMPEx (<a href="http://impex-fp7.oeaw.ac.at/">http://impex-fp7.oeaw.ac.at/</a>)</div>
				   <div class="indent">
					   An integrated interactive computational framework where data from 
						  planetary missions will be interconnected with numerical models.
				   </div>
			   </div>
   
			</div>
		</div>
	</div>
</li>
 
<li>
	<hr>
	<div class='list_content'>
		<div class='list_text'>
			<h3  class='list_title'>Canada</h3>
   
			<div class='list_description indent'>
			   
			   <div class="topic">AUTUMN Virtual Magnetic Observatory (<a href="http://autumn.athabascau.ca/">http://autumn.athabascau.ca/</a>)</div>
			   <div class="indent">
				  Provides access to data from the Athabasca University Geophysical Observatory (AUGO).
			   </div>
			   
			   <div class="topic top_space">Canadian Space Science Data Portal (CSSDP) (<a href="https://cssdp.ca/">https://cssdp.ca/</a>)</div>
			   <div class="indent">
				  Enable and simplify researcher access to space science analytic tools and data.
			   </div>

		   </div>
		</div>
	</div>
</li>

<li>
	<hr>
	<div class='list_content'>
		<div class='list_text'>
			<h3  class='list_title'>Japan</h3>
   
			<div class='list_description indent'>

			   <div class="topic">IUGONET (<a href="http://www.iugonet.org/en/mdformat.html">http://www.iugonet.org/en/mdformat.html</a>)</div>
			   <div class="indent">
				  Provide a unified metadata database and seamless data environment for ground-based observations of the upper atmosphere acquired by a global network of radars, magnetometers, optical sensors, helioscopes, etc., and stored individual data bases.
				</div>

			</div>
		</div>
	</div>
</li>

<li>
	<hr>
	<div class='list_content'>
		<div class='list_text'>
			<h3  class='list_title'>Australia</h3>
   
			<div class='list_description indent'>

			   <div class="topic">ASWS (<a href="http://www.sws.bom.gov.au/Geophysical">http://www.sws.bom.gov.au/Geophysical</a>)</div>
			   <div class="indent">
				  Australian Space Weather Service (ASWS) provides information on a range of space weather products and services.
				</div>

			</div>
		</div>
	</div>
</li>


</ul>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="{{assets}}/">About</a></li>
	<li><a href="{{assets}}/connect.html">Connect With Us</a></li>
	<li><a href="{{assets}}/news.html">News</a></li>
</ul>
</div>
</aside>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Follow Us On</h2>
<ul class='side_nav'>
	<li><a target="_blank" href="https://twitter.com/SPASEOutreach">Twitter <i class="fa fa-external-link"></i></a></li>
	<li><a target="_blank" href="https://www.youtube.com/channel/UCavaXaU18ggJlVegr_M-hdw">Youtube Channel <i class="fa fa-external-link"></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>