---
title: SPASE Base Model History
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Base Model History</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>

<h1>Dictionary History for Base Model</h1>

{{#each (sort baseModelHistory 'updated' false)}}
	{{#if (isBreak) }}
	<h4>Version: <b><a href="search.html?version={{Version}}">{{version}}</a></b></h4>
	<table class="history">
		<tr>
		<th width=100px>Updated</th>
		<th>Description</th>
		<th>Notes</th>
		</tr>
		{{setBreak false}}
	{{/if}}
		<tr {{{color description}}} >
			<td nowrap>{{updated}}</td>
			<td><ul>{{{makeList description}}}</ul></td>
			<td>{{note}}</td>
		</tr>
		{{#if (isMatch description 'Released.') }}
			</table>
			{{setBreak true}}
		{{/if}}
{{/each}}
{{#if (isBreak) }}
{{else}}
	</table>
{{/if}}

</div>

</section>
</article>
</section>

</div>

<div class='clear'></div>
</div>
